---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/sectionContainer.astro";
import ToTaskArrows from "@/components/toTaskArrows.astro";
import ProjectsTasksGallery from "@/components/projectsTasksGallery.astro";
import ProjectsOptsGallery from "@/components/projectsOptsGallery.astro";
import getSession from "@/utils/getSession";
import SendFly from "@/components/icons/sendFly.astro";
import getProgressFromAProject from "@/utils/getProgressFromAProject";
import getProjectContent from "@/utils/getProjectContent";
import getProjectsContent from "@/utils/getDBProjectsList";
import MarkDownContent from "@/components/markDownContent.astro";
import FinishTaskButton from "@/components/finishTaskButton.astro";

const params = Astro.params; // http://localhost:4321/projects/your-own-git/c/inicio

if (!params.name || !params.language || !params.title) {
  return Astro.redirect("/404");
}

const session = await getSession(Astro);
if (!session) {
  return Astro.redirect("/profile");
}

const uuid = session?.id;

const progress = await getProgressFromAProject(params.name, uuid);

const data = await getProjectContent(
  params.name,
  params.language,
  params.title,
); // params.name, params.lenguage, params.title

if (data.data.num === 404) {
  return Astro.redirect("/404");
}

const Content = !Array.isArray(data) ? data.render : "";

const info = Array.isArray(data) ? null : data.data;

const opts = [{ title: "Introducción", href: `#` }];

const projectsList = await getProjectsContent(params.name, params.language);
const nextTask = (
  projectsList.find((task) => parseInt(task) === (info?.num ?? 0) + 1) || ""
).replace(".md", "");
---

<Layout
  title={`${info?.title ?? "Proyecto"} - CodeProject`}
  description="This is a project page"
>
  <SectionContainer class="md:grid md:grid-cols-[220px_1fr] md:gap-x-6">
    <ProjectsTasksGallery
      title={params.title}
      name={params.name}
      language={params.language}
      collections={projectsList}
      onProgress={progress.progress}
    />
    <section class="pb-3 w-full">
      <div class="flex justify-between items-center">
        <h3
          class="text-md md:text-lg italic font-semibold text-light-primary/50"
        >
          {params.name?.toUpperCase()}
        </h3>
        <ToTaskArrows
          title={params.title}
          name={params.name}
          language={params.language}
          collections={projectsList}
        />
      </div>
      <h1
        class="flex text-3xl md:text-4xl pb-2 font-bold items-end gap-x-2 text-light-primary"
      >
        {info?.title ?? ""}
        <span class="text-lg text-yellow-200/65">
          {`#${info?.num ?? ""}`}
        </span>
      </h1>
      <ProjectsOptsGallery opts={opts} />
      <div class="px-3 md:px-5 pt-3 pb-5 mt-5 bg-[#1E1E1E] rounded-lg">
        <h2
          class="text-2xl md:text-3xl pb-1 font-semibold border-b-2 border-main"
        >
          Tarea
        </h2>
        <div>
          <MarkDownContent content={Content} />
          {
            progress.progress === info?.num && data.data.id && (
              <FinishTaskButton
                params={params}
                info={info}
                uuid={data.data.id}
                nextTask={nextTask}
              />
            )
          }
        </div>
      </div>
    </section>
  </SectionContainer>
</Layout>

<style>
  #tasks {
    scrollbar-width: none;
  }
</style>
