---
import BlogTagsGallery from "@/components/blogTagsGallery.astro";
import SectionContainer from "@/components/sectionContainer.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection, render } from "astro:content";

const { postId } = Astro.params;
const blogPosts = await getCollection("blog");
const post = blogPosts.find((post) => post.slug === postId);
if (!post) return Astro.redirect("/404");
const {
  data: { title, author, date, description, tags },
  slug,
} = post;

const { Content } = await render(post);

const newDate = date.toLocaleDateString("es-ES", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Layout title={`${title} - Blog de CodeProject`} description={description}>
  <SectionContainer>
    <article class="pt-2 max-w-[650px] mx-auto">
      <BlogTagsGallery slug={slug} tags={tags} />
      <div>
        <h2 class="text-4xl font-semibold text-light-primary pb-1">
          {title}
        </h2>
        <p class="flex flex-wrap justify-between text-sm opacity-50">
          <span>Autor: {author}</span>
          <span>Fecha: {newDate}</span>
        </p>
      </div>
      <div
        class="prose prose-invert max-w-none *:my-3 prose-pre:cursor-pointer prose-h1:text-[2rem] **:first:!mt-0 **:last:!mb-0 py-2 px-3 mt-2 bg-dark-secondary max-h-[72vh] overflow-y-scroll rounded-lg"
        id="blog-content"
      >
        <Content />
      </div>
    </article>
  </SectionContainer>
</Layout>

<style>
  #blog-content {
    scrollbar-width: thin;
  }
</style>
