---
import MarkText from "@/components/markText.astro";
import MyArticle from "@/components/myArticle.astro";
import SectionContainer from "@/components/sectionContainer.astro";
import links from "@/db/links";
import Layout from "@/layouts/Layout.astro";
import UsedResourcesGallery from "@/components/usedResourcesGallery.astro";
import UnderlineLink from "@/components/underlineLink.astro";
import SubtitleAbout from "@/components/subtitleAbout.astro";
import TextAbout from "@/components/textAbout.astro";
import { getCollection } from "astro:content";

const about = await getCollection("about");
const about_me = about.find((item) => item.slug === "me");
const about_code_project = about.find((item) => item.slug === "code-project");

const buttons_me = [
  {
    title: "Portfolio",
    href: links.founder.href,
  },
  {
    title: "Github",
    href: "https://github.com/diego-dev018",
  },
  {
    title: "LinkedIn",
    href: "https://www.linkedin.com/in/diegodev18/",
  },
  {
    title: "Github Sponsors",
    href: links.sponsor.href,
  },
];
---

<aside id="about-top"></aside>
<Layout
  title="Sobre nostros - CodeProject"
  description="Conoce más sobre CodeProject, la comunidad de programadores más grande de habla hispana."
>
  <div class="flex flex-col gap-y-[22vh] pb-[10vh] sm:py-[15vh] lg:py-[18vh]">
    {
      about_code_project && (
        <MyArticle>
          <SectionContainer id="about-project">
            <SubtitleAbout> {about_code_project.data.title} </SubtitleAbout>
            <TextAbout item={about_code_project} class="pb-3" />
            <div class="flex justify-center">
              <UnderlineLink
                className="text-xl text-center !text-purple-200 hover:!text-purple-300"
                href="https://github.com/diegodev18/code-project-docs"
                target="_blank"
              >
                Apoya a la documentacion de CodeProject en Github
              </UnderlineLink>
            </div>
          </SectionContainer>
        </MyArticle>
      )
    }
    {
      about_me && (
        <MyArticle>
          <SectionContainer id="about-me">
            <SubtitleAbout> {about_me.data.title} </SubtitleAbout>
            <TextAbout item={about_me} class="pb-3" />
            <div
              class={`grid grid-cols-[repeat(auto-fit,minmax(200px,1fr))] gap-2`}
            >
              {
                buttons_me.map(({ title, href }) => (
                  <a
                    class="flex items-center justify-center bg-dark-secondary text-lg md:text-xl font-semibold px-4 py-[6px] text-center rounded-full hover:bg-button-hov transition duration-300 ease-in-out"
                    target="_blank"
                    href={href}
                  >
                    {title}
                  </a>
                ))
              }
            </div>
          </SectionContainer>
        </MyArticle>
      )
    }
    <MyArticle>
      <SectionContainer id="about-others">
        <SubtitleAbout class="pb-4">
          Recursos externos usados en el proyecto
        </SubtitleAbout>
        <UsedResourcesGallery />
      </SectionContainer>
    </MyArticle>
  </div>
</Layout>
