---
import SectionContainer from "@/components/sectionContainer.astro";
import SendFly from "@/components/icons/sendFly.astro";
import ProjectsLargeCard from "@/components/projectsLargeCard.astro";
import getIcon from "@/utils/getIcon";
import ProjectsSmallCard from "@/components/projectsSmallCard.astro";
import { allProjects } from "@/utils/getAllProjects";
---

<SectionContainer class="pb-20 pt-20">
    <div class="group">
        <p
            class="flex items-center flex-wrap gap-x-2 font-medium text-3xl md:text-5xl pb-5 md:pb-10"
        >
            <span
                class="text-main brightness-125 font-semibold animate-pulse group-hover:rotate-[105deg] transition duration-500 ease-in-out"
            >
                <SendFly width="45" stroke-width="3" />
            </span>
            <span class="text-main font-semibold"> CodeProject </span>
            para
            <span class="text-blue-500 brightness-125 font-semibold">
                desarrolladores
            </span>
        </p>
        <div class="flex flex-col items-center md:block">
            <p class="ml-5 font-semibold text-xl text-center opacity-30 pb-2">
                Explora nuestros proyectos!
            </p>
            <ul
                class="flex flex-wrap gap-5 md:bg-[#0C0C0C]/20 md:px-10 md:py-8 rounded-2xl"
            >
                {
                    allProjects?.map(({ title, description, icon, href }) => {
                        const Icon = getIcon(icon);
                        return (
                            <div class="drop-shadow-2xl border-2 rounded-xl border-[#313131] sm:hidden xl:block">
                                <ProjectsLargeCard
                                    id="landing-projects"
                                    title={title}
                                    href={href}
                                    description={description}
                                    icon={Icon}
                                />
                            </div>
                            <div class="drop-shadow-2xl rounded-xl hidden sm:block xl:hidden">
                                <ProjectsSmallCard
                                    id="landing-projects"
                                    title={title}
                                    href={href}
                                    description={description}
                                    icon={Icon}
                                />
                            </div>
                        );
                    })
                }
            </ul>
        </div>
    </div>
</SectionContainer>
