---
import SectionContainer from "@/components/sectionContainer.astro";
import ProgrammingIcon2 from "@/components/icons/programmingIcon2.astro";
import Login from "@/components/login.astro";
import getProjects from "@/utils/getProjects";
import SendFly from "@/components/icons/sendFly.astro";
import ProjectsLargeCard from "@/components/projectsLargeCard.astro";
import getIcon from "@/utils/getIcon";

const Projects = await getProjects() ?? [];
---

<SectionContainer class="flex justify-between pt-5 md:pt-10">
    <div class="flex flex-col justify-between md:justify-around min-h-[calc(100vh-300px)]">
        <h1 class="text-5xl lg:text-8xl max-w-[1000px] leading-[1] font-semibold">
            Hazte Un Mejor Programador
        </h1>
        <p class="text-3xl md:text-4xl font-semibold leading-snug md:leading-tight max-w-[900px]">
            Proyectos reales de programacion creados para
            <span class="text-violet-700 brightness-125 border-b-2 border-violet-700">
                {'{desarrolladores}'}
            </span>
            y
            <span class="text-lime-500 brightness-125 border-b-2 border-lime-500">
                {'entusiastas'}
            </span>
        </p>
        <div class="pt-10 md:pt-0">
            <aside class="text-blue-300 w-fit transition duration-500 ease-in-out" id="main-fly">
                <SendFly width="45"  stroke-width="3" />
            </aside>
            <aside class="w-[calc(100vw-40px)] md:w-auto" id="login-button">
                <Login
                title="Click aqui! Ahora para comenzar a desarrollar tus proyectos!"
                classButton="!bg-violet-700 hover:brightness-125"
                />
            </aside>
        </div>
    </div>
    <div class="items-center h-full md:min-h-[calc(100vh-300px)] animate-pulse text-yellow-200 hidden md:flex">
        <ProgrammingIcon2 />
    </div>
</SectionContainer>
<SectionContainer class="pb-20 pt-20">
    <div class="group">
        <p class="flex items-center flex-wrap w-[calc(100vw-50px)] md:w-auto gap-x-2 md:ml-6 lg:ml-12 font-medium text-xl md:text-5xl pb-10">
            <span class="text-main brightness-125 font-semibold animate-pulse group-hover:rotate-[105deg] transition duration-500 ease-in-out">
                <SendFly width="45"  stroke-width="3" />
            </span>
            <span class="text-main font-semibold">
                CodeProject
            </span>
            para
            <span class="text-blue-500 brightness-125 font-semibold">
                desarrolladores
            </span>
        </p>
        <p class="ml-5 font-semibold text-xl opacity-30">Explora nuestros proyectos!</p>
        <ul class="flex flex-wrap gap-5 md:bg-[#0C0C0C]/20 md:px-10 md:py-8 rounded-2xl">
            {
                Projects.map(({ title, description, icon, href }) => {
                    const Icon = getIcon(icon);
                    return (
                        <div class=" drop-shadow-2xl border-2 rounded-xl border-[#313131]">
                            <ProjectsLargeCard
                            id="landing-projects"
                            title={title}
                            href={href}
                            description={description}
                            icon={Icon}
                            />
                        </div>
                    )
                })
            }
        </ul>
    </div>
</SectionContainer>

<script>
    const loginButton = document.getElementById('login-button');
    const mainFly = document.getElementById('main-fly');

    loginButton?.addEventListener('mouseenter', () => {
        if (mainFly) {
            mainFly.style.transform = 'rotate(75deg)';
        }
    });
    loginButton?.addEventListener('mouseleave', () => {
        if (mainFly) {
            mainFly.style.transform = 'rotate(0deg)';
        }
    });
</script>
