---
import getSession from "@/utils/getSession";
import getLangIcon from "@/utils/getLangIcon";
import NewProjectButton from "@/components/newProjectButton.astro";

const session = await getSession(Astro);
const uuid = session?.id;

interface Props {
  id: string;
  lenguages: string[];
}
const { id, lenguages } = Astro.props; // `/projects/${id}/${lang}/inicio`
---

<div class="overflow-x-scroll w-full">
  <form
    action="/api/db/progress"
    method="POST"
    class="flex lg:justify-center gap-x-4 py-4"
  >
    {
      lenguages.map((lang: string) => (
        <NewProjectButton
          id={id}
          lang={lang}
          uuid={uuid ?? null}
          icon={getLangIcon(lang)}
        />
      ))
    }
  </form>
</div>
