---
import SectionContainer from "@/components/sectionContainer.astro";

interface Props {
    title?: string;
    cards: {
        icon: {
            width: number;
            height: number;
            component: any;
        };
        title: string;
        description: string;
        href: string;
    }[];
    small?: boolean;
}
const { title, cards, small = true } = Astro.props;
---

<SectionContainer class="!px-0">
    {
        title && (
            <h2 class="text-2xl font-bold pb-3">
                {title}
            </h2>
        )
    }
    <div class="overflow-x-auto py-2">
        <ul class="flex gap-x-4 px-5">
            {
                cards.map(({icon: { width, height, component: Icon }, title, description, href}) => (
                    <li class="mt-7">
                        <a
                        class="group w-[120px] h-[8rem] bg-[#1E1E1E] rounded-lg flex flex-col justify-center items-center relative"
                        href={href}
                        >
                            <div class="absolute -top-6">
                                <Icon width={width} height={height} />
                            </div>
                            <div class="pt-12 px-2 flex flex-col justify-between">
                                <h3 class="font-semibold leading-5 line-clamp-2">
                                    {title}
                                </h3>
                                <div class="relative w-full h-3 bg-white rounded-full mt-2">
                                    <div class="absolute bg-slate-500 h-full w-1/2 rounded-full" />
                                </div>
                            </div>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</SectionContainer>