---
import getProgressFromAProject from "@/utils/getProgressFromAProject";
import CardProgressLine from "./cardProgressLine.astro";

interface Props {
  id: string;
  href: string;
  title: string;
  description: string;
  icon: {
    width: number;
    height: number;
    component: any;
  };
  uuid?: string | null;
}

const {
  id,
  href,
  title,
  description,
  icon: { width, height, component: Icon },
  uuid = null,
} = Astro.props;

const { progress, percentaje, lenguage, file } = await getProgressFromAProject(
  id,
  uuid,
);

const destinationUrl =
  uuid == null
    ? "/profile"
    : progress === 0
      ? href
      : `${href}/${lenguage}/${file}`;
---

<a
  class="group relative mt-3"
  title={`${title} - ${description}`}
  href={destinationUrl}
>
  <li class="snap-center">
    <div
      class="absolute -top-3 w-full flex justify-center transition-all lg:group-hover:scale-105 lg:group-hover:-top-4"
    >
      <Icon width={width} height={height} />
    </div>
    <div
      class="w-[185px] lg:w-[210px] aspect-square bg-dark-secondary group-hover:bg-button-hov overflow-hidden pt-[4.6rem] md:pt-[4.3rem] lg:pt-[4.6rem] px-3 h-full rounded-lg"
    >
      <div class="min-h-[85px] md:min-h-[88px]">
        <h3
          class="text-lg md:text-xl font-semibold line-clamp-3 lg:line-clamp-2 transition md:group-hover:text-yellow-300"
        >
          {title}
        </h3>
        <p
          class="hidden font-medium lg:line-clamp-2 opacity-65 transition group-hover:opacity-100"
        >
          {description}
        </p>
      </div>
      <CardProgressLine percentage={percentaje} />
    </div>
  </li>
</a>
