---
import SectionContainer from "@/components/sectionContainer.astro";
import ProjectsSmallCard from "@/components/projectsSmallCard.astro";
import ProjectsLargeCard from "@/components/projectsLargeCard.astro";
import ArrowIconComp from "./arrowIconComp.astro";
import LeftCaret from "./icons/leftCaret.astro";
import RightCaret from "./icons/rightCaret.astro";

interface Props {
    id: string;
    title?: string;
    cards: {
        icon: {
            width: number;
            height: number;
            component: any;
        };
        title: string;
        description: string;
        href: string;
        id: string;
    }[];
    small?: boolean;
}
const { id, title, cards, small = true } = Astro.props;
---

<SectionContainer class="!px-0 md:!px-20 lg:!px-40">
    <div class:list={["flex items-center", title ? "justify-between" : "justify-end"]}>
        {
            title && (
                <h2 class="text-2xl font-bold pt-4 px-5 md:px-0">
                    {title}
                </h2>
            )
        }
        <div class="hidden md:flex gap-x-1">
            <ArrowIconComp id={`${id}-left`}>
                <LeftCaret width="35" />
            </ArrowIconComp>
            <ArrowIconComp id={`${id}-right`}>
                <RightCaret width="35" />
            </ArrowIconComp>
        </div>
    </div>
    <div class="overflow-x-auto snap-x snap-mandatory py-2 project-gallery" id={`${id}-gallery`}>
        <ul class="flex gap-x-4 px-5 md:px-0">
            {
                cards.map(({icon: { width, height, component: Icon }, title, description, href, id}) => {
                    return small ? (
                        <ProjectsSmallCard id={id} href={href} title={title} description={description} icon={{ width, height, component: Icon }} />
                    ) : (
                        <ProjectsLargeCard id={id} href={href} title={title} description={description ?? "hola"} icon={{ width, height, component: Icon }} />
                    )
                })
            }
        </ul>
    </div>
</SectionContainer>

<style>
    .project-gallery {
        scrollbar-width: none;
    }
</style>

<script is:inline define:vars={{ id }}>
    document.addEventListener('astro:page-load', () => {
        const gallery = document.getElementById(`${id}-gallery`);
        const left = document.getElementById(`${id}-left`);
        const right = document.getElementById(`${id}-right`);

        left.addEventListener('click', () => {
            gallery.scrollBy({
                left: -gallery.offsetWidth,
                behavior: 'smooth'
            });
        });

        right.addEventListener('click', () => {
            gallery.scrollBy({
                left: gallery.offsetWidth,
                behavior: 'smooth'
            });
        });
    })
</script>