---
import getProgressFromAProject from "@/utils/getProgressFromAProject";
import getProjectsList from "@/utils/getDBProjectsList";

interface Props {
  id: string;
  href: string;
  title: string;
  description: string;
  icon: {
    width: number;
    height: number;
    component: any;
  };
  uuid?: string | null;
  class?: string;
}
const {
  id,
  href,
  title,
  description,
  icon: { width, height, component: Icon },
  uuid = null,
} = Astro.props;

const { progress, percentaje, lenguage, file } = await getProgressFromAProject(
  id,
  uuid,
);
---

<li class="snap-center">
  <a
    class="group flex flex-col items-center p-4 w-[330px] md:w-[350px] hover:bg-button-hov bg-dark-secondary rounded-lg transition"
    title={`${title} - ${description}`}
    href={uuid
      ? progress === 0
        ? href
        : `${href}/${lenguage}/${file}`
      : "/profile"}
  >
    <div class="flex gap-x-5 items-center min-h-[100px] pb-1">
      <div>
        <h3
          class="font-semibold leading-7 line-clamp-2 text-xl md:text-2xl group-hover:text-yellow-300 transition"
        >
          {title}
        </h3>
        <p
          class="text-sm font-medium line-clamp-2 opacity-65 lg:pt-1 group-hover:opacity-100 transition"
        >
          {description}
        </p>
      </div>
      <div class="md:group-hover:scale-110 transition">
        <Icon width={width - 15} height={height - 15} />
      </div>
    </div>
    <div class="relative w-full h-3 bg-white rounded-full mt-2">
      <div
        class="absolute bg-[#313131] md:group-hover:bg-[#363636] transition h-full rounded-full"
        style={`width: ${percentaje}%`}
      >
      </div>
    </div>
  </a>
</li>
