---
interface Props {
    title: string;
    name: string;
    lenguage: string;
    collections: {
        data: {
            title: string;
            num: number;
            id: string;
        };
    }[];
    onProgress?: number;
}
const { title, name, lenguage, collections, onProgress = 1 } = Astro.props;
---

<var class="hidden md:block mt-3">
    <div class="fixed bg-[#1E1E1E] rounded-lg py-5 px-2 w-[220px]">
        <h3 class="text-center text-2xl not-italic font-semibold text-main border-b-2 pb-1">
            Tareas
        </h3>
        <ul class="flex flex-col gap-y-2 h-[77svh] py-3 overflow-y-scroll" id="tasks">
            {
                collections.sort((a, b) => a.data.num - b.data.num).map(task => (
                    <li class:list={[
                        task.data.title === title && onProgress !== task.data.num && "text-purple-300 rounded-xl",
                        onProgress === task.data.num && "text-main"
                    ]}>
                        <a
                        class="font-semibold line-clamp-1 text-xl px-2 py-1 hover:bg-[#2c2c2c] rounded-xl transition duration-300"
                        title={task.data.title}
                        href={`/projects/${name}/${lenguage}/${task.data.id}`}>
                            {task.data.title}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</var>
