---
interface Props {
    title: string;
    description: string;
    icon: {
        width: string;
        height: string;
        component: any;
    };
}
const { title, description, icon } = Astro.props;
---

<a
href="/"
title={`${title} - ${description}`}
class="flex items-center w-full h-56 bg-secondary hover:bg-buttonHov rounded-3xl gap-x-8 px-8 transition duration-300 ease-in-out">
    <icon.component width={icon.width} height={icon.height} />
    <div>
        <h1 class="text-3xl sm:text-4xl font-bold text-main">
            {title}
        </h1>
        <p class="text-base sm:text-lg font-medium text-white/75">
            {description}
        </p>
    </div>
</a>