---
import LeftCaret from '@/components/icons/leftCaret.astro'
import RightCaret from '@/components/icons/rightCaret.astro'

interface Props {
    title: string;
    name: string;
    lenguage: string;
    collections: string[];
}

const { name, lenguage, collections, title } = Astro.props;

const thisNum = parseInt(title.slice(0, 3));
const prevTask = collections.find(task => parseInt(task.slice(0, 3)) === thisNum - 1)?.replace('.md', '') ?? '';
const nextTask = collections.find(task => parseInt(task.slice(0, 3)) === thisNum + 1)?.replace('.md', '') ?? '';
---

<div class="flex md:hidden">
    <a
    class:list={[prevTask ?? "hidden"]}
    href={`/projects/${name}/${lenguage}/${prevTask}`}>
        <LeftCaret width="30" />
    </a>
    <a
    class:list={[nextTask ?? "hidden"]}
    href={`/projects/${name}/${lenguage}/${nextTask}`}>
        <RightCaret width="30" />
    </a>
</div>