---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/sectionContainer.astro";
import getProjectsContent from "@/utils/getProjectsContent";
import ToTaskArrows from "@/components/toTaskArrows.astro";
import ProjectsTasksGallery from "@/components/projectsTasksGallery.astro";
import ProjectsOptsGallery from "@/components/projectsOptsGallery.astro";
import getSession from "@/utils/getSession";
import SendFly from "@/components/icons/sendFly.astro";
import getProgressFromAProject from "@/utils/getProgressFromAProject";

const params = Astro.params; // http://localhost:4321/projects/your-own-git/c/inicio

if (!params.name || !params.lenguage || !params.title) {
    return Astro.redirect("/404");
}

const progress = await getProgressFromAProject(params.name, 'diego-dev018')

const session = await getSession(Astro);
if (!session) { return Astro.redirect("/profile"); }

const data = await getProjectsContent(params.name, params.lenguage, params.title);

if (!data) {
    return Astro.redirect("/404");
}

const { Content } = await data.info.render();

const { info, collections } = data;

const opts = [
    {  title: "Introducción", href: `#` },
]
---

<Layout
title={`${info?.data.title ?? "Proyecto"} - CodeProject`}
description="This is a project page"
>
    <SectionContainer class="md:grid md:grid-cols-[220px_1fr] md:gap-x-6">
        <ProjectsTasksGallery
        title={info.data.title} name={params.name} lenguage={params.lenguage} collections={collections} onProgress={progress.progress}
        />
        <section class="pb-3 w-full">
            <div class="flex justify-between items-center">
                <h3 class="text-md md:text-lg italic font-semibold text-main/50">
                    {params.name?.toUpperCase()}
                </h3>
                <ToTaskArrows collection={collections} this_id={params.title} />
            </div>
            <h1 class="flex text-3xl md:text-4xl pb-2 font-bold items-end gap-x-2 text-main">
                {info?.data.title ?? ""}
                <span class="text-lg text-yellow-200/65">
                    {`#${info?.data.num ?? ""}`}
                </span>
            </h1>
            <ProjectsOptsGallery opts={opts} />
            <div class="px-3 md:px-5 pt-3 pb-5 mt-5 bg-[#1E1E1E] rounded-lg">
                <h2 class="text-2xl md:text-3xl pb-1 font-semibold border-b-2 border-main">
                    Tarea
                </h2>
                <div
                class="pt-3 md:pt-2"
                id="content"
                >
                    <Content />
                    {
                        progress.progress === info.data.num && (
                            <form action="">
                                <button class="flex justify-center gap-x-2 w-full py-2 mt-5 bg-main font-semibold hover:bg-buttonHov rounded-md transition duration-300 ease-in-out">
                                    Terminar tarea <SendFly width="20" />
                                </button>
                            </form>
                        )
                    }
                </div>
            </div>
        </section>
    </SectionContainer>
</Layout>

<style>
    #tasks {
        scrollbar-width: none;
    }

    #content :global(h1) {
        font-size: 1.5rem;
        font-weight: 600;
        padding-top: 0.3rem;
    }

    #content :global(h2) {
        font-size: 1.4rem;
        font-weight: 600;
        padding-top: 0.3rem;
    }

    #content :global(h3) {
        font-size: 1.3rem;
        font-weight: 600;
        padding-top: 0.28rem;
    }

    #content :global(h4) {
        font-size: 1.2rem;
        font-weight: 600;
        padding-top: 0.25rem;
    }

    #content :global(h5) {
        font-size: 1.1rem;
        font-weight: 600;
        padding-top: 0.2rem;
    }

    #content :global(p) {
        font-size: 1rem;
        padding-top: 0.25rem;
    }

    #content :global(ul) {
        display: flex;
        flex-direction: column;
        gap: 0.05rem;
        padding-top: 0.3rem;
        list-style: disc;
        padding-left: 1.5rem;

        li {
            font-size: 1rem;
        }
    }

    #content :global(code) {
        font-size: 0.9rem;
        padding: 0.1rem 0.3rem;
        font-weight: 600;
        background-color: #2e2e2e;
        color: #ff8888;
        border-radius: 0.3rem;
    }

    #content :global(pre) {
        font-size: 1rem;
        margin-top: 0.3rem;
        padding: 0.5rem 0.8rem;
        background-color: #2e2e2e;
        border-radius: 0.3rem;
        overflow-x: auto;

        code {
            font-size: 0.9rem;
            padding: 0;
            background-color: transparent;
            border-radius: 0;
        }
    }

    #content :global(details) {
        margin-top: 0.5rem;
        padding: 0.3rem 0.5rem;
        background-color: #2e2e2e;
        border-radius: 0.3rem;

        summary {
            cursor: pointer;
            font-size: 1rem;
            font-weight: 600;
            padding: 0.2rem 0.3rem;
            background-color: #2e2e2e;
            border-radius: 0.3rem;
        }
    }

    #content :global(blockquote) {
        margin-top: 0.5rem;
        padding: 0.3rem 0.5rem;
        background-color: #2e2e2e;
        border-left: 0.3rem solid #ff8888;
        border-radius: 0.3rem;

        p {
            font-weight: 500;
            font-size: 1rem;
        }
    }

    #content :global(ol) {
        display: flex;
        flex-direction: column;
        gap: 0.05rem;
        padding-top: 0.3rem;
        list-style: decimal;
        padding-left: 1.5rem;

        li {
            font-size: 1rem;
        }
    }
</style>