---
import SectionContainer from "@/components/sectionContainer.astro";
import Layout from "@/layouts/Layout.astro";

const params = Astro.params; // http://localhost:4321/projects/git/c/introduction

const pages = [
    {
        title: "Instrucciones",
        href: "",
    }
]

const info = {
    id: 1,
    title: "Introduccion",
    task: "Create a new repository",
}

const tasks = [
    {
        id: 1,
        title: "Introduccion 1",
        task: "Create a new repository",
    },
    {
        id: 2,
        title: "Introduccion 2",
        task: "Create a new repository",
    },
    {
        id: 3,
        title: "Introduccion 3",
        task: "Create a new repository",
    },
    {
        id: 4,
        title: "Introduccion 4",
        task: "Create a new repository",
    },
    {
        id: 5,
        title: "Introduccion 5",
        task: "Create a new repository",
    },
    {
        id: 6,
        title: "Introduccion 10",
        task: "Create a new repository",
    },
    {
        id: 7,
        title: "Introduccion 11",
        task: "Create a new repository",
    },
    {
        id: 8,
        title: "Introduccion 12",
        task: "Create a new repository",
    },
    {
        id: 9,
        title: "Introduccion 13",
        task: "Create a new repository",
    },
    {
        id: 10,
        title: "Introduccion 14",
        task: "Create a new repository",
    },
    {
        id: 11,
        title: "Introduccion",
        task: "Create a new repository",
    },
    {
        id: 12,
        title: "Introduccion",
        task: "Create a new repository",
    },
    {
        id: 13,
        title: "Introduccion",
        task: "Create a new repository",
    },
    {
        id: 14,
        title: "Introduccion",
        task: "Create a new repository",
    },
    {
        id: 15,
        title: "Introduccion",
        task: "Create a new repository",
    },
    {
        id: 16,
        title: "Introduccion",
        task: "Create a new repository",
    },
    {
        id: 17,
        title: "Introduccion",
        task: "Create a new repository",
    },
    {
        id: 18,
        title: "Introduccion",
        task: "Create a new repository",
    },
]
---

<Layout
title={params.title?.toUpperCase() ?? "Project - CodeProject"}
description="This is a project page"
>
    <SectionContainer class="md:grid md:grid-cols-[220px_1fr] md:gap-x-6">
        <var class="hidden md:block py-5 px-2 bg-[#1E1E1E] rounded-lg">
            <h3 class="text-center text-2xl not-italic font-semibold text-yellow-300 border-b-2 pb-1">
                Tareas
            </h3>
            <ul class="flex flex-col gap-y-2 h-[77svh] py-3 overflow-y-scroll">
                {
                    tasks.map(task => (
                        <li>
                            <a class="font-semibold text-xl px-2 py-1 hover:bg-[#2c2c2c] rounded-xl transition duration-300" href={`/projects/${params.name}/${params.lenguage}/${task.title}`}>
                                {task.title}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </var>
        <section class="pb-3 w-full">
            <h3 class="text-md md:text-lg italic font-semibold text-yellow-300/50">
                {params.name?.toUpperCase()}
            </h3>
            <h1 class="flex text-3xl md:text-4xl md:pb-2 font-bold items-end gap-x-2 text-yellow-300">
                {info.title}
                <span class="text-lg text-yellow-200/65">
                    {`#${info.id}`}
                </span>
            </h1>
            <ul class="flex gap-x-2 border-t-2 border-[#1E1E1E]">
                {
                    pages.map(page => (
                        <li class="pb-1 px-3 rounded-b-lg bg-[#1E1E1E] md:hover:text-yellow-100 transition duration-300">
                            <a class="font-semibold" href={page.href}>
                                {page.title}
                            </a>
                        </li>
                    ))
                }
            </ul>
            <div class="py-2 px-3 md:px-5 md:py-3 mt-5 bg-[#1E1E1E] rounded-lg">
                <h2 class="text-2xl md:text-3xl pb-1 font-semibold border-b-2 border-yellow-300">
                    Tarea
                </h2>
                <p class="pt-3 md:pt-2 font-medium text-lg min-h-[65svh] md:min-h-[20vh]">
                    {info.task}
                </p>
            </div>
        </section>
    </SectionContainer>
</Layout>