---
import SectionContainer from "@/components/sectionContainer.astro";
import Layout from "@/layouts/Layout.astro";
import Projects from "@/db/projects";

const params = Astro.params; // http://localhost:4321/projects/your-own-git/c/introduction

console.log(params);

const info = Projects.find(project => project.id === params.name);

console.log(info);

if (!info) {
    return Astro.redirect("/404");
}

const opts = [
    {  title: "Introducción", href: `#` },
]
---

<Layout
title={params.title?.toUpperCase() ?? "Project - CodeProject"}
description="This is a project page"
>
    <SectionContainer class="md:grid md:grid-cols-[220px_1fr] md:gap-x-6">
        <var class="hidden md:block py-5 px-2 bg-[#1E1E1E] rounded-lg">
            <h3 class="text-center text-2xl not-italic font-semibold text-yellow-300 border-b-2 pb-1">
                Tareas
            </h3>
            <ul class="flex flex-col gap-y-2 h-[77svh] py-3 overflow-y-scroll" id="tasks">
                {
                    info.tasks.sort((a, b) => a.num - b.num).map(task => (
                        <li>
                            <a class="font-semibold text-xl px-2 py-1 hover:bg-[#2c2c2c] rounded-xl transition duration-300" href={`/projects/${params.name}/${params.lenguage}/${task.title}`}>
                                {task.title}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </var>
        <section class="pb-3 w-full">
            <h3 class="text-md md:text-lg italic font-semibold text-yellow-300/50">
                {params.name?.toUpperCase()}
            </h3>
            <h1 class="flex text-3xl md:text-4xl md:pb-2 font-bold items-end gap-x-2 text-yellow-300">
                {info.title}
                <span class="text-lg text-yellow-200/65">
                    {`#${info.num}`}
                </span>
            </h1>
            <ul class="flex gap-x-2 border-t-2 border-[#1E1E1E]">
                {
                    opts.map(opt => (
                        <li class="pb-1 px-3 rounded-b-lg bg-[#1E1E1E] md:hover:text-yellow-100 transition duration-300">
                            <a class="font-semibold" href={opt.href}>
                                {opt.title}
                            </a>
                        </li>
                    ))
                }
            </ul>
            <div class="py-2 px-3 md:px-5 md:py-3 mt-5 bg-[#1E1E1E] rounded-lg">
                <h2 class="text-2xl md:text-3xl pb-1 font-semibold border-b-2 border-yellow-300">
                    Tarea
                </h2>
                <p class="pt-3 md:pt-2 font-medium text-lg min-h-[65svh] md:min-h-[20vh]">
                    <!-- {info.task} -->
                </p>
            </div>
        </section>
    </SectionContainer>
</Layout>

<style>
    #tasks {
        scrollbar-width: none;
    }
</style>